body {
    background-color: lightgrey;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    margin-left: 40px;
    margin-right: 40px;

}

.sec0, .sec4 {
    font-size: 17px;
    text-align: center;
}

.sec1, .sec5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:rgb(240, 107, 162));

}
.sec2, .sec6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}
.sec1 img {
    width: 250px;
    height: 195px;
    border: 2px solid black;
    padding: 4px;
    float: right;
    margin: 0px 150px 60px 200px;
    margin-right: 40px;
}

.sec3{
   text-align: center; 
   text-decoration: none;
}
.sec3 li {
    display: inline;
    padding: 3px;
    
}
a {
    color: black;
}

.sec7 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.p1, .p2, .p3, .edu{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.style {
    font-style: italic;
    font-weight:  bold;
}
.style2  {
    font-size: 15px;
}